body {
  background: #333333;      /* Background color of the whole page */
  height: 100vh;            /* 100 viewport heigh units */
  display: flex;            /* defines a flex container */
  justify-content: center;  /* centers the canvas horizontally */
  align-items: center;      /* centers the canvas vertically */
} 
.canvas {
  width:480px;   /* Width of the canvas */
  height:480px;  /* Height of the canvas */
} 
.pixel {
  width:30px;    /* Width of each pixel */
  height:30px;   /* Height of each pixel */
  float: left;    /* Everytime it fills the canvas div it will begin a new line */
  box-shadow: 0px 0px 1px #fff;  /* Leave commented, showing the pixel boxes */
} 
.pixel:nth-child(5){
background:#585858;} 
.pixel:nth-child(6){
background:#585858;} 
.pixel:nth-child(7){
background:#585858;} 
.pixel:nth-child(8){
background:#585858;} 
.pixel:nth-child(9){
background:#585858;} 
.pixel:nth-child(10){
background:#585858;} 
.pixel:nth-child(16){
background:#141414;} 
.pixel:nth-child(16){
background:#0;} 
.pixel:nth-child(20){
background:#585858;} 
.pixel:nth-child(21){
background:#585858;} 
.pixel:nth-child(22){
background:#585858;} 
.pixel:nth-child(23){
background:#585858;} 
.pixel:nth-child(24){
background:#585858;} 
.pixel:nth-child(25){
background:#585858;} 
.pixel:nth-child(26){
background:#585858;} 
.pixel:nth-child(27){
background:#585858;} 
.pixel:nth-child(28){
background:#585858;} 
.pixel:nth-child(29){
background:#585858;} 
.pixel:nth-child(36){
background:#545454;} 
.pixel:nth-child(37){
background:#545454;} 
.pixel:nth-child(38){
background:#545454;} 
.pixel:nth-child(39){
background:#e6e6e6;} 
.pixel:nth-child(40){
background:#e6e6e6;} 
.pixel:nth-child(41){
background:#e6e6e6;} 
.pixel:nth-child(42){
background:#131313;} 
.pixel:nth-child(43){
background:#e7e7e7;} 
.pixel:nth-child(51){
background:#545454;} 
.pixel:nth-child(52){
background:#e6e6e6;} 
.pixel:nth-child(53){
background:#545454;} 
.pixel:nth-child(54){
background:#e6e6e6;} 
.pixel:nth-child(55){
background:#e6e6e6;} 
.pixel:nth-child(56){
background:#e6e6e6;} 
.pixel:nth-child(57){
background:#e7e7e7;} 
.pixel:nth-child(58){
background:#131313;} 
.pixel:nth-child(59){
background:#e7e7e7;} 
.pixel:nth-child(60){
background:#e7e7e7;} 
.pixel:nth-child(61){
background:#e7e7e7;} 
.pixel:nth-child(67){
background:#545454;} 
.pixel:nth-child(68){
background:#e6e6e6;} 
.pixel:nth-child(69){
background:#545454;} 
.pixel:nth-child(70){
background:#545454;} 
.pixel:nth-child(71){
background:#e6e6e6;} 
.pixel:nth-child(72){
background:#e6e6e6;} 
.pixel:nth-child(73){
background:#e7e7e7;} 
.pixel:nth-child(74){
background:#e7e7e7;} 
.pixel:nth-child(75){
background:#131313;} 
.pixel:nth-child(76){
background:#e7e7e7;} 
.pixel:nth-child(77){
background:#e7e7e7;} 
.pixel:nth-child(78){
background:#e7e7e7;} 
.pixel:nth-child(83){
background:#545454;} 
.pixel:nth-child(84){
background:#545454;} 
.pixel:nth-child(85){
background:#e6e6e6;} 
.pixel:nth-child(86){
background:#e6e6e6;} 
.pixel:nth-child(87){
background:#e6e6e6;} 
.pixel:nth-child(88){
background:#e6e6e6;} 
.pixel:nth-child(89){
background:#e7e7e7;} 
.pixel:nth-child(90){
background:#131313;} 
.pixel:nth-child(91){
background:#fcfcfc;} 
.pixel:nth-child(92){
background:#131313;} 
.pixel:nth-child(101){
background:#e6e6e6;} 
.pixel:nth-child(102){
background:#e6e6e6;} 
.pixel:nth-child(103){
background:#e6e6e6;} 
.pixel:nth-child(104){
background:#e6e6e6;} 
.pixel:nth-child(105){
background:#e7e7e7;} 
.pixel:nth-child(106){
background:#e7e7e7;} 
.pixel:nth-child(107){
background:#e7e7e7;} 
.pixel:nth-child(108){
background:#e7e7e7;} 
.pixel:nth-child(116){
background:#585858;} 
.pixel:nth-child(117){
background:#585858;} 
.pixel:nth-child(118){
background:#494949;} 
.pixel:nth-child(119){
background:#585858;} 
.pixel:nth-child(120){
background:#585858;} 
.pixel:nth-child(121){
background:#585858;} 
.pixel:nth-child(121){
background:#494949;} 
.pixel:nth-child(122){
background:#585858;} 
.pixel:nth-child(131){
background:#585858;} 
.pixel:nth-child(132){
background:#585858;} 
.pixel:nth-child(133){
background:#585858;} 
.pixel:nth-child(134){
background:#494949;} 
.pixel:nth-child(135){
background:#585858;} 
.pixel:nth-child(136){
background:#585858;} 
.pixel:nth-child(137){
background:#494949;} 
.pixel:nth-child(138){
background:#585858;} 
.pixel:nth-child(139){
background:#585858;} 
.pixel:nth-child(140){
background:#585858;} 
.pixel:nth-child(141){
background:#585858;} 
.pixel:nth-child(146){
background:#585858;} 
.pixel:nth-child(147){
background:#585858;} 
.pixel:nth-child(148){
background:#585858;} 
.pixel:nth-child(149){
background:#585858;} 
.pixel:nth-child(150){
background:#494949;} 
.pixel:nth-child(151){
background:#494949;} 
.pixel:nth-child(152){
background:#494949;} 
.pixel:nth-child(153){
background:#494949;} 
.pixel:nth-child(154){
background:#585858;} 
.pixel:nth-child(155){
background:#585858;} 
.pixel:nth-child(156){
background:#585858;} 
.pixel:nth-child(157){
background:#585858;} 
.pixel:nth-child(162){
background:#e7e7e7;} 
.pixel:nth-child(163){
background:#e7e7e7;} 
.pixel:nth-child(164){
background:#585858;} 
.pixel:nth-child(165){
background:#494949;} 
.pixel:nth-child(166){
background:#e2e2e2;} 
.pixel:nth-child(167){
background:#494949;} 
.pixel:nth-child(168){
background:#494949;} 
.pixel:nth-child(169){
background:#e2e2e2;} 
.pixel:nth-child(170){
background:#494949;} 
.pixel:nth-child(171){
background:#585858;} 
.pixel:nth-child(172){
background:#e7e7e7;} 
.pixel:nth-child(173){
background:#e7e7e7;} 
.pixel:nth-child(178){
background:#e7e7e7;} 
.pixel:nth-child(179){
background:#e7e7e7;} 
.pixel:nth-child(180){
background:#e7e7e7;} 
.pixel:nth-child(181){
background:#494949;} 
.pixel:nth-child(182){
background:#494949;} 
.pixel:nth-child(183){
background:#494949;} 
.pixel:nth-child(184){
background:#494949;} 
.pixel:nth-child(185){
background:#494949;} 
.pixel:nth-child(186){
background:#494949;} 
.pixel:nth-child(187){
background:#e7e7e7;} 
.pixel:nth-child(188){
background:#e7e7e7;} 
.pixel:nth-child(189){
background:#e7e7e7;} 
.pixel:nth-child(194){
background:#e7e7e7;} 
.pixel:nth-child(195){
background:#e7e7e7;} 
.pixel:nth-child(196){
background:#494949;} 
.pixel:nth-child(197){
background:#494949;} 
.pixel:nth-child(198){
background:#494949;} 
.pixel:nth-child(199){
background:#494949;} 
.pixel:nth-child(200){
background:#494949;} 
.pixel:nth-child(201){
background:#494949;} 
.pixel:nth-child(202){
background:#494949;} 
.pixel:nth-child(203){
background:#212121;} 
.pixel:nth-child(204){
background:#e7e7e7;} 
.pixel:nth-child(205){
background:#e7e7e7;} 
.pixel:nth-child(212){
background:#494949;} 
.pixel:nth-child(213){
background:#494949;} 
.pixel:nth-child(214){
background:#494949;} 
.pixel:nth-child(217){
background:#494949;} 
.pixel:nth-child(218){
background:#494949;} 
.pixel:nth-child(219){
background:#494949;} 
.pixel:nth-child(227){
background:#545454;} 
.pixel:nth-child(228){
background:#545454;} 
.pixel:nth-child(229){
background:#545454;} 
.pixel:nth-child(234){
background:#545454;} 
.pixel:nth-child(235){
background:#545454;} 
.pixel:nth-child(236){
background:#545454;} 
.pixel:nth-child(242){
background:#545454;} 
.pixel:nth-child(243){
background:#545454;} 
.pixel:nth-child(244){
background:#545454;} 
.pixel:nth-child(245){
background:#545454;} 
.pixel:nth-child(250){
background:#545454;} 
.pixel:nth-child(251){
background:#545454;} 
.pixel:nth-child(252){
background:#545454;} 
.pixel:nth-child(253){
background:#545454;} 
